{
  "plugins": [
    [
      "template-html-minifier",
      {
        "modules": {
          "lit-html": ["html"],
          "lit-element": ["html", { "name": "css", "encapsulation": "style" }]
        },
        "strictCSS": true,
        "htmlMinifier": {
          "collapseWhitespace": true,
          "conservativeCollapse": true,
          "removeComments": true,
          "caseSensitive": true,
          "minifyCSS": true
        }
      }
    ]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "spec": true,
        "bugfixes": true,
        "targets": {
          "esmodules": true
        }
      }
    ]
  ]
}
