# exclude everything by default
*

# then include only files inside /dist/
!dist/**/*

# except for tests and their source maps
**/*.test.js
**/*.test.js.map

# storybook files
**/*.stories.js
**/*.stories.js.map
dist/server/**/*
dist/mocks/**/*
dist/cdn/translations/demo/**/*

# and some system files
.DS_Store
