@tailwind base;

@import './node_modules/@highlightjs/cdn-assets/styles/atom-one-dark.css';

* {
  -webkit-tap-highlight-color: transparent;
}

details > summary::-webkit-details-marker {
  display: none;
}

details > summary {
  list-style: none;
}

vaadin-select {
  margin-top: -4px;
  margin-bottom: -4px;
}

vaadin-text-area,
vaadin-text-field,
vaadin-date-picker,
vaadin-email-field,
vaadin-number-field,
vaadin-integer-field,
vaadin-password-field {
  padding-top: 0;
  padding-bottom: 0;
}

vaadin-date-picker {
  margin-top: calc(var(--lumo-space-xs, 0.25rem) * -1);
  margin-bottom: calc(var(--lumo-space-xs, 0.25rem) * -1);
}

vaadin-button {
  margin: 0;
}

@tailwind components;

@tailwind utilities;

@responsive {
  .grid-rows-auto {
    grid-auto-rows: 1fr;
  }

  .icon-inline {
    --iron-icon-height: 1em;
    --iron-icon-width: 1em;
  }

  .bg-blurred {
    backdrop-filter: blur(25px);
    background: var(--lumo-tint-80pct);
  }
}
